/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-logo-footer {
  background-image: url(../img/icons/spritesheet.png);
  background-position: -254px 0px;
  width: 35px;
  height: 35px;
}
.icon-mastercard {
  background-image: url(../img/icons/spritesheet.png);
  background-position: -71px -192px;
  width: 48px;
  height: 29px;
}
.icon-paypal {
  background-image: url(../img/icons/spritesheet.png);
  background-position: -87px -159px;
  width: 96px;
  height: 28px;
}
.icon-qiwi {
  background-image: url(../img/icons/spritesheet.png);
  background-position: 0px -159px;
  width: 87px;
  height: 33px;
}
.icon-spritesheet {
  background-image: url(../img/icons/spritesheet.png);
  background-position: 0px 0px;
  width: 254px;
  height: 159px;
}
.icon-visa {
  background-image: url(../img/icons/spritesheet.png);
  background-position: -183px -159px;
  width: 61px;
  height: 20px;
}
.icon-yandex {
  background-image: url(../img/icons/spritesheet.png);
  background-position: 0px -192px;
  width: 71px;
  height: 30px;
}
